# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Rodolfo Bortoluzzi\AppData\Roaming\JetBrains\DataGrip2020.3\projects\URI2620 Orders in First Half\.idea/dataSources/
/dataSources.local.xml
